@page
@model FU_Library_Web.Areas.Admin.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-4">
        <h1>Tạo Danh Mục Mới</h1>
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-page-handler="Create" id="createForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Tên thể loại</label>
                        <input name="cateName" id="cateName" class="form-control" type="text" style="width: 200px;" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" id="submitBtn" disabled />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên Thể Loại")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookCategory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-success" asp-area="Admin" asp-page="/Category/Edit" asp-route-id="@item.BookCategoryId">Edit</a>
                            <form method="post" asp-page-handler="Delete" id="deleteForm-@item.BookCategoryId" style="display: inline;">
                                <a href="javascript:void(0);" class="btn btn-danger"
                                   onclick="confirmDelete('@item.BookCategoryId')">Delete</a>
                                <input type="hidden" name="id" value="@item.BookCategoryId" />
                            </form>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>

<script>
    const cateNameInput = document.getElementById('cateName');
    const submitButton = document.getElementById('submitBtn');
    cateNameInput.addEventListener('input', function () {
        if (cateNameInput.value.trim() === '') {
            submitButton.disabled = true;
        } else {
            submitButton.disabled = false;
        }
    });
    function confirmDelete(formId) {
        if (confirm("Are you sure you want to delete this item?")) {
            document.getElementById('deleteForm-' + formId).submit();
        }
    }
</script>